* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    &::before,
    &::after {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
}

body {
    color: #2e2e2e;
}

.container {
    .crypto-list {
        background-color: $background-list-color;
        border-radius: 1.125rem;

        list-style-type:none;
        margin: auto;

        animation: appearBottom 0.4s ease-in;
    }

    .crypto-group-1 {
        display: flex;
        flex-direction: column;

        .crypto-name {
            font-weight: bold;
        }
    }
    .crypto-group-2 {
        position: relative;
        display: flex;
        flex-direction: column;

        .add-to-list-button {
            border-radius: to-rem(20px);
            margin-bottom: to-rem(9);
            align-self: flex-end;
            width: to-rem(15px);
            background: none;
            border: none;

            svg > g {
                mix-blend-mode: normal !important;
            }
        }
    }

    .crypto-item {
        display: flex;
        flex-direction: row;
    }

    .crypto-item {
        justify-content: space-between;
        padding: to-rem(20px) to-rem(20px);

        border-bottom: 1px solid #C5C5C5;

        &:last-of-type {
            border-bottom: 0;
        }
    }
    
    .crypto-icon {
        width: 25px;
        margin-right: 1rem;
    }

    .crypto-symbol {
        font-size: to-rem(14px);
    }
}

.crypto-list .add-to-list-button.selected svg circle,
.personal-crypto-list .add-to-list-button svg circle {
    fill: coral;
}

@keyframes appearBottom {
    from { opacity: 0; }
      to { opacity: 1;}
}