.header {
    color: #fff;
    background-color: black;

    border-bottom-left-radius: 20px 20px;
    border-bottom-right-radius: 20px 20px;

    padding: 1rem 0.625rem;
    margin-bottom: 2.5rem;

    // animation: appear 0.2s ease-in;
}

.searchbar {
    padding: to-rem(14);

    border-radius: to-rem(20px);
    outline: 0;
    border: 0;

    width:100%;

    color:#fff;

    background: url(../../assets/search.svg) no-repeat scroll 7px 7px, rgba($color: #FFF, $alpha: 0.2);;
    background-position: to-rem(305) to-rem(0);
}

// @keyframes appear {
//     from { opacity: 0.7; transform: translateY(-20px); }
//       to { opacity: 1; transform: translateY(0);}
// }