.header {
    color: #fff;
    background-color: black;

    border-bottom-left-radius: 20px 20px;
    border-bottom-right-radius: 20px 20px;

    padding: 1rem 0.625rem;
    margin-bottom: 2.5rem;
}

.searchbar {
    padding: 1rem;

    border-radius: 20px;
    outline: 0;
    border: 0;

    width:100%;

    color:#fff;
    background-color: rgba($color: #FFF, $alpha: 0.2)
}