.searchbar {
    position: relative;
    padding: to-rem(14);

    border-radius: to-rem(20px);
    outline: 0;
    border: 0;

    width:100%;
    color: #fff;

    background-color: rgba(0, 0, 0, 0.2);

    &::placeholder {
        color: #fff;
    }
}

.search-icon {
    position: absolute;
    bottom: to-rem(16);
    right: to-rem(10);

    width: auto;

    @include media(">desktop") {
        top: to-rem(20);
        right: to-rem(20);
    }
}
