@import url('https://fonts.googleapis.com/css2?family=Chivo:wght@300;400;700&display=swap');

// Colors
$background-color: #FCECDD;
$paragraph-color: #000;
$background-list-color: #FFFFFF;

// Typography
$primary-font: 'Chivo', sans-serif; 