/* 
 
  Note * the scss imported are base scss files.
  If there are specific styles for components check the component > scss.

*/

@import "partials/reset.scss";

// Modules and Variables
@import "modules/mixins.scss";
@import "modules/variables.scss";
@import "modules/typography.scss";

// Partials
@import "partials/base.scss";
@import "partials/buttons.scss";
@import "partials/grids.scss";

// Third-party
@import "third-party/svg-motion.scss";

// Components
@import "components/Header.scss";
@import "components/Navigation.scss";
@import "components/Searchbar.scss";
@import "components/Cryptolist.scss";